{% extends 'basic2.html' %}
{% block title %} Tech-Beauty Parlour | Admin|Create User {% endblock %}



{% block body %}
{% load static %}


<nav class="navbar navbar-expand-md bg-dark navbar-dark  py-4">

		<div class="container">
			<a href="{% url 'index' %}" class="navbar-brand text-warning font-weight-bold">Tech-Beauty Parlour</a>
            <a href="{% url 'index' %}"  class="navbar-brand"><img src="{% static 'img/6.png ' %}" class="nav-icon"></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">

          <span class="navbar-toggler-icon"></span>

			</button>
			<div class="collapse navbar-collapse text-center" id="collapsenavbar">



				<ul class="navbar-nav ml-auto">

                   <li class="nav-item ">
            <a href="{% url 'index' %}"  class="nav-link text-warning ">Appointment's</a>

          </li>


          <li class="nav-item ">
            <a href="{% url 'users' %}"  class="nav-link text-warning">Users</a>

          </li>


                    <li class="nav-item font-weight-bold">
            <a href="{% url 'createuser' %}"  class="nav-link text-warning">Create User</a>

          </li>


                    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown" style="background-color:#35424a;margin-top:20px;">
          <a href="{% url 'addproduct' %}"  class="nav-link text-warning text-center">Add Product</a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'addservice' %}"  class="nav-link text-warning text-center">Add Service</a>
        </div>
      </li>





                   {% if user.is_authenticated %}


                    <li class="nav-item ">
            <a href="/logoutuser/"  class="navbar-brand">
              <img src="{% static 'img/logout.png ' %}" class="icon">
            </a>
          </li>

                    <button class="btn  border-warning text-white" type="submit">
						{{request.user}}
					</button>

                    {% else %}

                    <li class="nav-item ">
						<a href="/logintype/"  class="navbar-brand" >
							<img src="{% static 'img/av2_06V_1.ico' %}">
						</a>

					</li>

                    {% endif %}


				</ul>


			</div>
		</div>

</nav>


{% for message in messages %}
<div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
  <strong>Message:</strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}


<section class="signup-form mx-auto">
  <div class="container mb-5 mt-5">
    <h1 class="text-center ">Create User</h1>
    <hr class="w-25 mx-auto">

<div class=" mx-auto ">
      <form action="/createuser/" method="post" class="">{% csrf_token %}
        <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="first_name" class="form-control" placeholder="name" id="name">
  </div>
          <div class="form-group">
    <label for="name">User Name:</label>
    <input type="text" name="username" class="form-control" placeholder="username" id="username">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" name="email" class="form-control" placeholder="Enter email" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" name="password" class="form-control" placeholder="Enter password" id="pwd">
  </div>

  <div class="form-group">
    <label>Mobile No:</label>
    <input type="number" name="mobile_number" class="form-control" placeholder="Enter mobile number" id="mbl">
  </div>


<div class="row text-center mt-5">
      <div class="col-lg-12 col-md-12 col-10">
              <button type="submit" class="button_1">Submit</button>
     </div>
</div>
</form>
    </div>

</div>


</section>



{% endblock %}

