{% extends 'basic2.html' %}
{% block title %} Tech-Beauty Parlour | Admin-User's {% endblock %}



{% block body %}
{% load static %}




<nav class="navbar navbar-expand-md bg-dark navbar-dark  py-4">

		<div class="container">
			<a href="{% url 'index' %}" class="navbar-brand text-warning font-weight-bold">Tech-Beauty Parlour</a>
            <a href="{% url 'index' %}"  class="navbar-brand"><img src="{% static 'img/6.png ' %}" class="nav-icon"></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">

          <span class="navbar-toggler-icon"></span>

			</button>
			<div class="collapse navbar-collapse text-center" id="collapsenavbar">



				<ul class="navbar-nav ml-auto">

                    <li class="nav-item ">
            <a href="{% url 'index' %}"  class="nav-link text-warning ">Appointment's</a>

          </li>


          <li class="nav-item font-weight-bold">
            <a href="{% url 'users' %}"  class="nav-link text-warning">Users</a>

          </li>


                    <li class="nav-item ">
            <a href="{% url 'createuser' %}"  class="nav-link text-warning">Create User</a>

          </li>


                    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown" style="background-color:#35424a;margin-top:20px;">
          <a href="{% url 'addproduct' %}"  class="nav-link text-warning text-center">Add Product</a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'addservice' %}"  class="nav-link text-warning text-center">Add Service</a>
        </div>
      </li>




                   {% if user.is_authenticated %}


                    <li class="nav-item ">
            <a href="/logoutuser/"  class="navbar-brand">
              <img src="{% static 'img/logout.png ' %}" class="icon">
            </a>
          </li>

                    <button class="btn  border-warning text-white" type="submit">
						{{request.user}}
					</button>



                    {% endif %}


				</ul>


			</div>
		</div>

	</nav>


<div class="bg-light  py-5">

<div class="container text-center my-5">

<div class="tablestyle">

        <h1 class="text-center text-dark">List of Active User's</h1>
                 <hr class="w-25 mx-auto">

                      <table class="table mb-0">
    <thead>
      <tr>
        <th>User Name</th>


      </tr>
    </thead>

    <tbody>

      {% for User in user %}


        <tr>


          <td>{{ User.username }}</td>
          <td> <form method="post" action="{% url 'delete_user' User.pk %}">
					{% csrf_token %}

                      <button type="submit" class="button_2 ">Delete</button>


				</form></td>





        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

</div>

</div>


{% endblock %}



